#Menu {
    height: -webkit-fill-available;
    position: absolute;
    top: var(--navbar-height);
    left: 0;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    display: grid;
    grid-template-columns: auto min-content;
    /* transition: backdrop-filter 0.4s ease-in-out; */
    /* transisión de backdrop y width */
    transition: backdrop-filter 0.4s ease-in-out;
}

.Menu-container {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: auto min-content;
    transition: left 0.4s ease-in-out;
    height: -webkit-fill-available;
}

.Menu-options {
    display: grid;
    grid-template-columns: 100%;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
    color: var(--light);
    background-color: var(--shadow-dark);
    border-radius: 0 12px 0 0;
    align-content: space-between;
    margin: 0;
    height: calc(100vh - var(--navbar-height));
}

.Menu-options>div {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.Menu-top {
    overflow: scroll;
    overflow-x: hidden;
}

.Menu-options li {
    list-style: none;
    background-color: var(--shadow-dark);
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    font-size: 14px;
    border-radius: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.Menu-top a.active li {
    background-color: rgba(var(--RGB-dark));
}

.Menu-options li:hover {
    filter: brightness(1.1);
    background-color: rgba(var(--RGB-dark), 0.5);
}

.Menu-options li p {
    margin: 0;
}

.Menu-options li box-icon {
    fill: var(--light);
    margin-block: 0.4rem;
}

.Menu-footer li:nth-child(1) {
    margin-bottom: 1rem;
    height: unset;
}

.Menu-footer li.no-action {
    cursor: default;
}

.Menu-footer li.no-action:hover {
    filter: brightness(1);
    background-color: var(--shadow-dark);
}

.Menu-close {
    width: 100px;
    height: 100%;
}

.Menu-close box-icon {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    margin: 10px;
}

.dark .Menu-close box-icon {
    fill: var(--light);
}

.light .Menu-close box-icon {
    fill: var(--dark);
}

.Menu-content {
    width: 100px;
    height: 100%;
}

.Menu-op {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Menu-subOp {
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;
    margin-inline-start: 16px;
    text-align: start;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Menu-subOp.open {
    max-height: 120px;
}

.Menu-subOp.close {
    max-height: 0px;
}

.Menu-subOp li {
    background-color: transparent;
    height: unset;
    font-size: 13px;
    background-color: rgba(var(--RGB-dark), 0);
    border-radius: 12px;
}

.Menu-subOp li:hover {
    filter: brightness(1.1);
    background-color: rgba(var(--RGB-dark), 0.6);
}

@media (min-width: 768px) {
    #Menu {
        width: var(--desktop-menu-width);
        position: unset;
    }

    .Menu-container {
        width: var(--desktop-menu-width);
    }

    .Menu-options {
        border-radius: 0;
    }

    .Menu-close {
        display: none;
    }
}