.navBar {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
    padding: 0.5rem 1rem;
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    justify-content: space-between;
    justify-items: stretch;
    align-content: center;
    gap: 1rem;
}

.navBar-MenuIcon {
    cursor: pointer;
}

.navBar h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    display: block;
    max-width: 100%;
    margin: 0;
}

.light .navBar box-icon {
    fill: var(--dark);
}

.dark .navBar box-icon {
    fill: var(--light);
}

.navBar div {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 100%;
    overflow: hidden;
}

.navBar div:nth-child(1) {
    gap: 1rem;
}

.navBar>div:nth-child(1)>div {
    gap: 1rem;
}

.navBar div:nth-child(2) p {
    cursor: pointer;
}


.navBar img {
    height: 2rem;
}

.navBar>div:nth-child(1)>img {
    height: 1.8rem;
}

.navBar p {
    font-weight: 600;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.navBar-routes {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    padding: 0;
}

.navBar-routes li {
    list-style: none;
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 13px;
    background-color: transparent;
    transition: background-color 0.1s ease-in-out,
        border 0.1s ease-in-out,
        filter 0.1s ease-in-out,
        color 0.1s ease-in-out;
    cursor: pointer;
}

.light .navBar-routes a>li {
    border: 1px solid rgba(var(--RGB-shadow-dark), 0.2);
    color: rgba(var(--RGB-shadow-dark), 0.5);
}

.dark .navBar-routes a>li {
    border: 1px solid rgba(var(--RGB-shadow-light), 0.2);
    color: rgba(var(--RGB-shadow-light), 0.5);
}

.navBar-routes a>li:hover {
    background-color: rgba(var(--RGB-cooper), 0.1);
    color: rgba(var(--RGB-cooper));
    border: 1px solid rgba(var(--RGB-cooper), 0.2);
}

.navBar-routes>li {
    color: rgba(var(--RGB-cooper), 0.8);
    border: 1px solid rgba(var(--RGB-cooper), 0.2);
}

.navBar-routes>li:hover {
    color: rgba(var(--RGB-cooper), 0.8);
    border: 1px solid rgba(var(--RGB-cooper), 0.2);
    background-color: transparent;
    cursor: default;
}


.light .navBar-routes box-icon {
    fill: rgba(var(--RGB-shadow-dark), 0.4);
}

.dark .navBar-routes box-icon {
    fill: rgba(var(--RGB-shadow-light), 0.4);
}

.navBar-identify p {
    font-size: 14px;
    margin: 0;
    line-height: 16px;
    text-wrap: nowrap;
}

@media (min-width: 768px) {
    .navBar {
        padding: 0.5rem 2rem;
    }

    .light .navBar {
        border-bottom: 1px solid rgba(var(--RGB-shadow-dark), 0.05);
    }

    .dark .navBar {
        border-bottom: 1px solid rgba(var(--RGB-shadow-light), 0.05);
    }
}