/* Estilos básicos para el contenedor */
.Checkbox .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

/* Oculta el checkbox real */
.Checkbox .custom-checkbox {
    display: none;
    box-sizing: border-box;
}

.light .Checkbox {
    --checkbox-ball: var(--shadow-dark);
    --checkbox-border: var(--shadow-dark);
    --checkbox-background: var(--shadow-light);
}

.dark .Checkbox {
    --checkbox-ball: var(--shadow-light);
    --checkbox-border: var(--shadow-light);
    --checkbox-background: var(--shadow-dark);
}

/* Estilos para el label, que actúa como el checkbox visual */
.Checkbox .custom-checkbox+label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid var(--checkbox-border);
    background: var(--checkbox-background);
}

/* Estilo cuando el checkbox está marcado */
.Checkbox .custom-checkbox:checked+label:before {
    content: "";
    border-radius: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: var(--checkbox-ball);
    border: 2px solid var(--checkbox-background);
}